* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
}

.login-form{
    width: 420px;
    background-color:whitesmoke;
    color: black;
    padding: 1.4rem;
    border-radius: 1rem;
}


.login-form .title{
    font-size: 2.2rem;
    text-align: center;
}

.login-form .input-box{
    position: relative;
    width: 100%;
    height: 3rem;
    margin: 30px 0;
}

.login-form .input-box input{
    width: 100%;
    height: 3rem;
    background: transparent;
    outline: none;
    border: 2px solid black;
    border-radius: 2.2rem;
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;

}

.input-box input::placeholder{
    color: gray;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
}

.rememberme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: -1rem 0 1rem;
}

.rememberme label input{
    margin-right: 6px;
}

.rememberme a{
    color: black;
    text-decoration: none;
}

.rememberme a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid white;
    margin: 1rem 0;
    font-size: 1.2rem;
    background-color: rgb(167, 214, 255);
    color: white;
    cursor: pointer;
    transition: 0.6s;
    font-weight: 600;
}
.btn:hover{
    background-color: white;
    color: rgb(167, 214, 255);
    border-color: rgb(167, 214, 255);
}

.register a{
    color: rgb(84, 115, 126);
}
.register a:hover{
    text-decoration: none;
}