.profile{
    min-height: 90vh;
    background-color: #C4A484;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    width: auto;
    font-size: 0.8rem;
}

.username{
    text-align: center;
    font-size: 1.7rem;
}