.profile{
    min-height: 90vh;
    background-color: #C4A484;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    width: auto;
    font-size: 0.8rem;
}

h2{
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1rem;
}

h2 span{
    color: #C4A484;
    font-weight: 500;
    font-size: 1.2rem;
    font-style: normal;
    text-transform: none;
}

.img-container{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 1rem;
}

.profile-img{
    width: 200px;
    border: 2px solid #C4A484;
    border-radius: 50%;
}

.profile-btns{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

button {
    padding: 0.5rem 1rem;
    border: 1px solid #C4A484;
    background-color: white;
    font-weight: 600;
    border-radius: 1rem;
}

button:hover{
    background-color: #C4A484;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}