* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero-section {
    width: 100%;
    min-height: 100vh;
    background-image:  url('../images/mainback.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px 8%;

}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}

.hero-section .logo{
    width: 9%;
    cursor: pointer;
}

nav ul{
    width: 100%;
    list-style-type: none;
    text-align: right;
    padding-right: 40px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    transition: 0.5s;
}

nav ul li a:hover{
    color: #0082E1;
}

.login{
    padding: 10px 20px;
    border: 1px solid whitesmoke;
    border-radius: 14px;
    font-size: 15px;
    background-color: #0082E1;
    color: whitesmoke;
    font-weight: 600;
    width: 10%;
    cursor: pointer;
    transition: 0.8s;
}

.login:hover{
    border: 1px solid #0082E1;
    background-color: whitesmoke;
    color: #0082E1;
}

.left-section{
    margin-top: 12%;
    color: #fff;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-section h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
}

.left-section p{
    font-size: 20px;
    font-weight: 600;
    color: gray;
}

.left-section button{
    padding: 10px 20px;
    border: 1px solid #0082E1;
    border-radius: 14px;
    font-size: 15px;
    background-color: white;
    color: #0082E1;
    font-weight: 600;
    width: 40%;
    cursor: pointer;
    transition: 0.8s;

}
.left-section button:hover{
    border: 1px solid whitesmoke;
    background-color: #0082E1;
    color: whitesmoke;
    
}

.popular-items{
    width: 100%;
    min-height: 90vh;
    background: url('../images/pop-background.jpg');
    background-position: center;
    background-size: cover;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10%;
}

.left-popular-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding-left: 50px;
}

.title-p{
    color: #8b8a93;
    font-size: 35px;
    font-style: italic;
}

.desc-p{
    font-size: 20px;
    color: #ADA9BB;
}

.products-p{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #54a6e1;
}

.products-p:hover{
    text-decoration: underline;
}

.item-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.right-popular-items img{
    height: 60vh;
}

.item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
}

.item{
    outline-style: solid;
    outline-width: 1px;
    outline-color: gray;
    outline-offset: 5px;
}

.item-content .item-title{
    font-size: 20px;
    font-style: italic;
    color: #54a6e1;
}

.reviews .checked{
    color: #0082E1;
}

.item-price{
    font-size: 16px;
    font-weight: 600;
}

.why-us{
    width: 100%;
    min-height: 60vh;
    background-color: whitesmoke;
    padding: 100px;
    display: flex;

}

.why-us .cards-revs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.cards-revs .card{
    width: 20%;
    height: 75%;
    border: 1px solid #54a6e1;
    background-color: #54a6e1;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.cards-revs .card i{
    font-size: 50px;
    color: whitesmoke;
}

.cards-revs .card .title{
    color: whitesmoke;
    padding-bottom: 15px;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.cards-revs .card .desc{
    text-align: center;
    color: whitesmoke;
    font-weight: 600;
}

.clothing-info{
    width: 100%;
}

.clothing-info .card{
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}

.clothing-info .card2{
    display: flex;
    flex-direction: row-reverse;
    min-height: 80vh;
}

.clothing-info .left,
.clothing-info .right{
    width: 50%;
}

.clothing-info .card .left {
    background: url('../images/clothinginfo1.webp');
    background-position: top;
    background-size: cover;
}

.clothing-info .card2 .left{
    background: url('../images/clothing-info2.webp');
    background-position: top;
    background-size: cover;
}

.clothing-info .right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;

}

.clothing-info  .content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.clothing-info  .content .title{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.clothing-info  .content .desc{
    font-size: 1.5rem;
    color: #8b8a93;
    font-weight: 600;
}

.clothing-info  .content a{
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
}

.ourmission{
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.ourmission .smallheader{
    font-size: 1.2rem;
    font-weight: 600;
}
.ourmission .title{
    width: 40%;
    text-align: center;
    font-weight: 400;
}

.ourmission .desc{
    width: 35%;
    text-align: center;
    color: #8b8a93;
    font-size: 0.8rem;

}